html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ff9000;
}

::placeholder {
  color: #878787;
}

.title-container h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: white;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.searchbar-container {
  display: flex;
  justify-content: center;
}

.searchbar-container input {
  width: 350px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 10px;
  display: flex;
}

.separation-line {
  margin-top: 60px;
  width: 450px;
}

.capitais-container {
  font-size: 25px;
  height: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  margin-left: 200px;
}

.minmax-container {
  display: flex;
  margin-left: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(54, 54, 54);
  padding: 2px;
}

.minmax-container h6 {
  margin-left: 10px;
}

/* #icon {
  background-image: url(icons/search.svg);
  background-position: 2px 2px;
  background-repeat: no-repeat;
} */
